
.Nav_bar{
    background-color:#484848;
    padding: 0px 90px;
    align-items: center;
}
.restaurant_logo{
    color:white;
    font-size: 37px;
    
}
.restaurant_logo span{
    font-size: 40px;
}
.Nav_button{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.Button{
    border-radius: 7px;
    padding: 6px 19px;
    border: none;
}
.Button a{
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    color: black;
}
.titleText{
    font-weight: bolder;
}
.dateText{
    font-size: 19px;
    font-weight: 500;
}
.Category{
    font-size: 20px;
}
.TaskCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    padding: 40px 200px;
}